-
	const articles =
		[
			{
				title: 'Щенок',
				author: 'Джордж Сондерс',
				description: 'Повесть с кукурузным полем и&nbsp;американскими именами в&nbsp;переводе Марии Ереминой',
				image: '/content/library/6ctnlfxgbf8.jpg',
				link: '/library/read1'
			},
			{
				title: 'Скелет. Готический рассказ',
				author: 'Иван Ахмадиев',
				description: 'от&nbsp;первого лица из&nbsp;уст одной девушки',
				image: '/content/library/ahmadiev_skelet.jpg',
				link: '/library/read2'
			},
			{
				title: 'Сказка о&nbsp;Часовщике',
				author: 'Ольга Аристова',
				description: 'Всем известно — на&nbsp;небе живет Часовщик, он латает планеты и&nbsp;строит их в&nbsp;ряд',
				image: '/content/library/час(5).jpg',
				link: '/library/read3'
			},
			{
				title: 'Повесть о&nbsp;чучеле, Тигровой Шапке и&nbsp;Малом Париже. Глава из&nbsp;книги.',
				author: 'Константин Дмитриенко',
				description: '',
				image: '/content/library/1517018008036.jpg',
				link: '/library/read4'
			},
			{
				title: 'Возлюбить ближнего. Отрывок из&nbsp;пьесы',
				author: 'Виктория Костюкевич',
				description: 'Трое молодых людей в&nbsp;поезде от&nbsp;Владивостока до&nbsp;Москвы',
				image: '/content/library/кост(10).jpg',
				link: '/library/read5'
			},
			{
				title: 'Повесть о&nbsp;чучеле, Тигровой Шапке и&nbsp;Малом Париже. Глава из&nbsp;книги.',
				author: 'Константин Дмитриенко',
				description: '',
				image: '/content/library/1517018008036.jpg',
				link: '/library/read6'
			},
			{
				title: 'Щенок',
				author: 'Джордж Сондерс',
				description: 'Повесть с кукурузным полем и&nbsp;американскими именами в&nbsp;переводе Марии Ереминой',
				image: '/content/library/6ctnlfxgbf8.jpg',
				link: '/library/read7'
			},
			{
				title: 'Скелет. Готический рассказ',
				author: 'Иван Ахмадиев',
				image: '/content/library/ahmadiev_skelet.jpg',
				description: 'от&nbsp;первого лица из&nbsp;уст одной девушки',
				link: '/library/read8'
			},
		]
h2.libraryTitle Библиотека
.libraryShelf
	for article in articles
		a.libraryShelf-item(href=article.link)
			article.libraryShelf-item--layout
				p.libraryShelf-item-author
					!=article.author
				h4.libraryShelf-item-title
					!=article.title
				if article.description
					p.libraryShelf-item-description
						!=article.description
				figure.libraryShelf-item-image
					src=resizeImage(article.image, 200, 150)
					srcset=`${resizeImage(article.image, 200*1.5, 150*1.5)} 2x`
					img(
					src=article.image
					alt!=article.title
					)
